[Desktop Entry]
Type=Application
Name=RustNotes
GenericName=Notas Markdown
Comment=Crear y leer notas en Markdown
Exec=rustnotes
Icon=rustnotes
Terminal=false
Categories=Office;Utility;TextEditor;
Keywords=notas;markdown;notes;
StartupWMClass=RustNotes
